
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #60606e;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3 {
  /*margin: 0;*/
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  position: relative;
  margin-top: 0;
  margin-bottom: 16px;
}

h2:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #7beec7;
  width: 67px;
  height: 21px;
  left: -2px;
  bottom: 0;
  z-index: 0;
}

h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

h4 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #60606e;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  line-height: 30px;
}

.wrapper {
  width: 1300px;
  background: url("../images/Layer 4.jpeg") no-repeat;
  margin: 0 auto;
  padding: 0 65px;
}

footer .wrapper {
  background: none;
}

.row {
  overflow: hidden;
}

.cell {
  float: left;
  padding: 0 15px;
}

.cell.size-s100 {
  /*width: 100%;*/
  float: none;
  display: block;
}

.cell.size-s66 {
  width: 66.6%;
}

.cell.size-s50 {
  width: 50%;
}

.cell.size-s33 {
  width: 33.3%;
}

.cell.size-s25 {
  width: 25%;
}

.cell.size-s20 {
  width: 20%;
}

.cell.size-s16 {
  width: 16.6%;
}

.cell.size-s8 {
  width: 8.3%;
}

.no-float {
  float: none;
}

.text-right {
  text-align: right;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

header .cell {
  line-height: 100px;
}

.subheader {
  padding: 150px 0 166px;
}

.text-center {
  text-align: center;
}

.breadcrumbs {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

section {
  padding-top: 140px;
}

.center-article {
  margin: 0 auto;
  padding-bottom: 90px;
}

.center-article h2 {
  display: inline-block;
}

.center-article p {
  line-height: 24px;
}

.top-indent {
  padding-top: 18px;
}

.bottom-indent {
  padding-bottom: 18px;
}

.img {
  width: auto;
  max-width: 100%;
}

footer {
  padding: 50px 0;
  background-color: #7beec7;
}

footer h2 {
  color: white;
}

footer h2:before {
  display: none;
}